{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">




                <img class="portfolio-image" src="{{post.guid}}">

                 <h3>{{ post.title }}  </h3><p class='caption'>{{ post.dimensions }}<br><br>{{ post.photo_attribution }}</p>



			</section>

		</article>
	</div>
{% endblock %}
