{% extends "base.twig" %}
{% block content %}

    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

        <div class='row'>
            <div class='col-md-5'>
                <div class='poem'>
                    <h3>{{post.poem_title}}</h3>
                <pre>{{post.homecopy}}</pre>
                <p class='credit'>{{post.poem_attribution}}<br>{{ post.poem__attribution_two }}</p>
            </div>
        </div>
        <div class='col-md-7'>

            <div class='home-image'>
                <h3>{{post.home_photo_title}} &nbsp;<span class='caption caption-home'> {{post.image_caption}}</span></h3>
                {% set home_img = TimberImage(post.home_photo) %}
                <img class="portfolio-image" src="{{home_img.src|resize(500)}}" alt="{{home_img.title}}">
                <p class='credit'>{{post.photo_credit}}</p>

            </div>
        </div>

    </div>

</article>

{% endblock %}