{% extends "base.twig" %}
{% block content %}
    <div class="content-wrapper container">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <div class='row'>
 <div class="article-body">
                        {# http://flickity.metafizzy.co/#getting-started  see page-gallery#}
                        <h3>&ldquo;Artifacts, Instruments, Architecture&rdquo;</h3>
                        {% for i in post.gallery_drawing %}
                            {% set img = TimberImage(i) %}



                            <div class="col-md-3 col-xs-6">
                               <h4>{{img.title}}</h4>
        <a href="{{img.link}}">
                                    <img class='portfolio-image' src="{{img.src('medium')}}" alt="{{img.title}}"></a>

                           {#  <pre>{{dump(img.link)}}</pre> #}
                            <p class='caption'>{{img.caption}}</p>
                           </div>

                    {% endfor %}
</div>
            </div>
        </section>
    </article>
    </div><!-- /content-wrapper -->
{% endblock %}