{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
            <div class="row">
                 <div class="article-body">
				<div class="gallery js-flickety">

                   <h3> Hello this is the flickety gallery</h3>
                    <pre>{{dump(post)}}</pre>
                       <h4>Fragments</h4>
                        {% for i in post.medium_section_gallery_ %}
                            {% set img = TimberImage(i) %}
{# class="gallery-cell" #}
                            <div >

                                <a href="{{img.link}}">
                                    <img src="{{img.src('medium')}}" alt="{{img.title}}"></a>

                           {#  <pre>{{dump(img.link)}}</pre> #}
                            <p class='small'>{{img.caption}}</p>
                           </div>

                    {% endfor %}
</div>

				</div>
            </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}