{% extends "base.twig" %}
{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <div class="row">
                     <div class="article-body">
                    {# data-flickity-options='{ "cellAlign": "left", "contain": true }' #}

                    {# NOTE TO SELF must not rewrite dist/main.js so comment js task out of gulpfile #}
                    <h4>Fragments</h4>
                    <div class="gallery-flickity js-flickity" data-flickity-options='{ "wrapAround": true,"lazyLoad": true }' >
                    {#   <pre>{{dump(post.medium_section_gallery)}}</pre> #}

                    {% for i in post.medium_section_gallery %}
                        {% set img = TimberImage(i) %}
                        <div class="gallery-cell" >


                            <img data-flickity-lazyload="{{img.src|letterbox(500,600,'#1F232A')}}" class="gallery-cell-image" alt="">


                       <p class='title-info'><a href="{{img.link}}"><span class='title-type'>{{img.title}}{{img.dimensions}}</span></a></p>

                        </div>
                    {% endfor %}
</div>

                </div>{# end gallery-main #}
                {# begin 'title and info gallery' #}
               {#
                    {# , "contain": true, "pageDots": false  #}


{# </div>end of nav gallery for #}

               {# end of loop through post.medium_section_gallery #}
            </div>
        </section>
    </article>
    </div><!-- /content-wrapper -->
{% endblock %}